<html>
    <head>
        <title>
            SenderForm
        </title>
        <link rel="stylesheet" href="sender.component.css">
    </head>
    <body>
        <section class="container">



       <div class="card">
            <h3 class="text-center">SENDER DETAILS</h3>
            <br>
            <div class="row">
                <div class="cols-xs-12">
                    <div class="center">
                        <form #f='ngForm' [formGroup]='senderForm' >
                            Sender Account Number<br><input formControlName='accountHolderNumber' #id class="form-control" type="text" ><br><br>
                            Sender Account Name<br><input formControlName='accountHolderName' type="text" class="form-control" ><br><br>
                            Clear Balance<br><input formControlName='accountHolderClearBalanace' type="number" class="form-control" ><br><br>
                            Sender BIC<br><input formControlName='receiverBankName' type="text" class="form-control"><br><br>
                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
        <br> <br> <br>
        
        <div class="card">
            <h3 class="text-center">RECEIVER DETAILS</h3>
            <br>
            <div class="row">
                <div class="cols-xs-12">
                    <div class="center">
                        <form #f='ngForm' [formGroup]='receiverForm'>
                            Receiver Account Number<br><input formControlName='receiverNumber' type="text" class="form-control" ><br><br>
                            Receiver Account Name<br><input formControlName='receiverName' type="text" class="form-control"><br><br>
                            Receiver BIC<br><input formControlName='receiverBicCode' class="form-control" type="text"><br><br>
                            Receiver BankName<br><input formControlName='receiverBankName' type="text" class="form-control" placeholder={{bank.name}}><br><br>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
        <br><br><br>
        
        <div class="card">
        
            <h3 class="text-center">TRANSACTION DETAILS</h3><br>
            <div class="row">
                <div class="cols-xs-12">
                    <div class="center">
                        <form #f='ngForm' [formGroup]='transactionForm' (ngSubmit)="onTransactionSubmit()">
                            <label>Transfer Type</label><br>
                            <select class="form-control" formControlName='transferType'>
                                <option value="CUSTOMER">Customer Transfer</option>
                                <option value="BANK">Bank Transfer for Own Account</option>
                            </select><br><br>
                            <label>Message Code</label><br>
                            <select class="form-control" formControlName='messageCode'>
                                <option value="CHQB">CHQB</option>
                                <option value="CORT">CORT</option>
                                <option value="HOLD">HOLD</option>
                                <option value="INTC">INTC</option>
                                <option value="PHOB">PHOB</option>
                                <option value="PHOI">PHOI</option>
                                <option value="PHON">PHON</option>
                                <option value="REPA">REPA</option>
                                <option value="SDVA">SDVA</option>
                            </select><br><br>
                            Transfer Amount<br>
                            <input formControlName='amount' type="text" class="form-control"><br><br>
                            <div id="container"><button id= "btn" type="submit">MAKE TRANSFER</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </section>
    </body>
</html>